@font-face {
      font-family: 'Roboto';
      src:url('http://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,100,500,700');
      }

html {
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto';
}

/* DIALOG BOXES*/

#dialogoverlay{
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFF;
  width: 100%;
  z-index: 10;
}
#dialogbox{
  display: none;
  position: fixed;
  background: none;
  border-radius:7px;
  width:350px;
  z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #ecf0f1; font-size:24px; padding:30px 0 0 0; color:#1366a8; text-align: center; }
#dialogbox > div > #dialogboxbody{ background:#ecf0f1; font-size: 20px; font-weight:bold; padding:5px 0 15px 0; color:#1366a8; text-align:center;}
#dialogbox > div > #dialogboxfoot{ background: #ecf0f1; padding:20px; text-align:center; }

.dialog {
  border: 1px solid gray;
  padding: 15px 60px;
  transition: all 0.2s ease;
}

.dialog:hover,
.dialog:active {
  background: ;
}



.logo {
  width:600px;
  margin:auto;
  text-align: center;
}

.logo>img {
  width:600px;
}

.message {
  font-size: 15px;
  color:#1366a8;
  font-weight: 300;
}

.thankyou {
  padding-top: 60px;
}


}*/


* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */

.container    {
  font-family:'Roboto';
  width:300px;
  margin:80px auto 0;
  display:block;
  background:#FFF;
  /*padding:10px 50px 50px;*/
  text-align: center;
}
h2     {
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}



/* form starting stylings ------------------------------- */
.group        {
  position:relative;
  margin-bottom:45px;
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:-30px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#1366a8;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#1366a8;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

.jfk-button {
/*border:2px solid #5fb42d;*/
text-transform: uppercase;
background: #5fb42d;
transition: all .3s ease;
color:white;

}

.jfk-button:hover {
  background: #83c031;
}
.jfk-button:active {
  background:#3c962b;

}
